mixin badge(data)
  .badge(class= data.bgColor ? data.bgColor : 'bg-primary')
    if data.icons
      .badge__header
        each icon in data.icons
          img(src=`./assets/images/${icon}.svg` alt="Иконка" width="40" height="40")

    if data.img
      picture
        source(srcset=`./assets/images/${data.img.name}.webp` type="image/webp")
        img(src=`./assets/images/${data.img.name}.png` alt= data.img.alt width= data.img.width height= data.img.height)


    if data.content
      .badge__content
        if data.content.bold
          strong!= data.content.bold

        if data.content.text
          span.base-text!= data.content.text
